.landing {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin: 50px 0 30px;
    padding-bottom: 0;
    margin-bottom: 20px;
    @include mq(notsmall) {
        flex-direction: column;
        margin: 140px 0 50px;
        padding-bottom: 100px;
    }
    h1 {
        font-family: Helvetica, Arial, sans-serif;
        color: $color--2;
        font-size: 2rem;
        margin: 20px 0;
        @include mq(notsmall) {
            font-size: rem(80px);
        }
        max-width: 645px;
        line-height: em(88, 80);
        font-weight: 700;
    }
    p {
        margin-bottom: 20px;
        @include mq(large) {
            margin-bottom: 50px;
        }

        max-width: 380px;
    }
    img {
        width: 100%;
        height: auto;
        @include mq("large") {
            width: 885px;
            position: absolute;
            top: 90px;
            right: -120px;
        }
    }
    button {
        @extend %custom-btn;
        border: none;
        font-size: 16px;
        letter-spacing: 0.005em;
        padding: em(17px) em(29px);
        background-color: $color--3;
        color: #fff;
        border-radius: 50px;
        box-shadow: 0px 5px 5px rgba(30, 55, 71, 0.1);
        &:active {
            box-shadow: 0px 2px 2px rgba(30, 55, 71, 0.2);
        }
    }
}
