// Global Config
// ==========================================================================
// Font Stacks
// ==========================================================================
$font-family: "Avenir", sans-serif;

// ==========================================================================
//  Base Colors
// ==========================================================================
$color--1: #4b5d68;
$color--2: #212353;
$color--3: #9c69e2;
$color--4: #f063b8;
$color--5: #68c9ba;

// ==========================================================================
// responsive classes
// ==========================================================================
$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// ==========================================================================
// UI Fonts
// ==========================================================================
$base__font-size: 16px;
$base__line: 24px;

// ==========================================================================
// Letter Spacing
// ==========================================================================
$letter-space-primary: 0em;

// ==========================================================================
// Border radius
// ==========================================================================
$br--default: 9px;
$br--round: 50%;

// ==========================================================================
// Transitions
// ==========================================================================
$trns_duration: 0.3s;
$trns_timing: ease-in-out;

// ==========================================================================
// Grid
// ==========================================================================
$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1050px;

// ==========================================================================
// Containers
// ==========================================================================
$containers: (
  sm: 667px,
  md: 992px,
  lg: 1117px,
);

$min_width: 320px; // min Screen width
$max_width: 667px; // max Screen width
$min_font: 16px; // Font-size in min Screen width
$max_font: 28px; // Font-size in max Screen width
