@font-face {
  font-family: "Avenir";
  src: local("AvenirLTStd-Book"), local("AvenirLTStd-Book"), url("../../assets/fonts/AvenirLTStd-Book.otf"),
    url("../../assets/fonts/AvenirLTStd-Book.otf");
  font-style: normal;
}
