@font-face {
  font-family: "Avenir";
  src: local("AvenirLTStd-Book"), local("AvenirLTStd-Book"), url("../../assets/fonts/AvenirLTStd-Book.otf"),
    url("../../assets/fonts/AvenirLTStd-Book.otf");
  font-style: normal;
}

// @font-face {
//   font-family: "Avenir";
//   src: local("AvenirLTStd-Black"), local("AvenirLTStd-Black"), url("../../assets/fonts/AvenirLTStd-Book.otf"),
//     url("../../assets/fonts/AvenirLTStd-Black.otf");
//   font-style: normal;
// }
