// ==========================================================================
// Functions
// ==========================================================================
// Import if Google Fonts URL is defined

@if variable-exists(font-url--google) {
    @import url($font-url--google);
}

@function em($pixels, $context: $base__font-size) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return ($pixels / $context) * 1em;
}

@function rem($pixels, $context: $base__font-size) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return ($pixels / $context) * 1rem;
}

@function strip-unit($value) {
    @return ($value / ($value * 0 + 1));
}
