.screen-reader-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

%custom-btn {
    @include transition(all 0.1s ease-in);
    padding: em(10px) em(20px);
    font-weight: 600;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    cursor: pointer;
}

// ===================================
// generate containers
// ===================================

@each $name, $value in $containers {
    .container-#{$name} {
        max-width: rem($value);
        margin-right: auto;
        margin-left: auto;
        @include mq(small) {
            padding: 0 10px;
        }
    }
}
